
body
  color: #fff
  background-color: #333


.login
  margin-top: 2.0em

header
  background-color: #334
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  border: 3px solid #54e8e8
  background-image: url("/admin/images/bg.png")
  background-repeat: repeat
  border-radius: 1.5em
  margin: 15px
  padding: 0.2em

.navbar-brand
  display: inline-block
  font-size: 1.5em
  text-align: center

.navbar
  padding: 0 0.5em


.sidebar
  background-image: url("/admin/images/bg.png")
  background-repeat: repeat
  border: 3px solid #54e8e8
  border-radius: 2em
  z-index: 1000
  padding: 20px 0
  overflow-x: hidden
  overflow-y: auto
  padding-left: 0
  padding-right: 0
  box-shadow: 2px 0 5px rgba(0,0,0,0.4);

.nav-pills
  .nav-link
    border-radius: 0

.bg-ks
  background-color: #112

a
  color: #fff

.nav-pills
  .nav-link.active
    color: #333
    background-color: #eee
