<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{base-path}}/materialize/css/material-icon.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{base-path}}/materialize/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <header style="padding-left: 300px">
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
            <a href="{{auth-path}}/system" class="brand-logo">Admin</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{{auth-path}}/user">User</a></li>
              <li><a href="{{base-path}}/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <ul class="side-nav fixed">
        <li>
          <a class="nav-link {% ifequal path "system" %}active{% endifequal %}" href="{{auth-path}}/system">System</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% ifequal path "manager" %}active{% endifequal %}" href="{{auth-path}}/manager">Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% ifequal path "analyze" %}active{% endifequal %}" href="{{auth-path}}/analyze">Analyze</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% ifequal path "notification" %}active{% endifequal %}" href="{{auth-path}}/notification">Notification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% ifequal path "preference" %}active{% endifequal %}" href="{{auth-path}}/preference">Preference</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% ifequal path "accounts" %}active{% endifequal %}" href="{{auth-path}}/accounts">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% ifequal path "backup" %}active{% endifequal %}" href="{{auth-path}}/backup">Backup</a>
        </li>
      </ul>
    </header>

    <main style="padding-left: 300px">
      <div class="container">
        {{page|safe}}
      </div>
    </main>

    <footer class="page-footer" style="padding-left: 300px">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <div class="white-text">Footer Content</div>
            <p class="grey-text text-lighten-4">This is sample text.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 Copyright Kaleidoscope.
          <a class="grey-text text-lighten-4 right" href="#!">GIT Repository</a>
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="{{base-path}}/materialize/js/materialize.min.js"></script>
   </body>
</html>
