<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="{{manager-path}}/js/index.js"></script>

  </head>
  <body>
    <div class="content">
    </div>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Admin</a>
      </div>
    </nav>
    <div class="row">
      <form class="col s6 offset-s3" method="post" action="{{base-path}}/login">
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <input id="user-id" name="user-id" type="text">
            <label for="user-id">ID</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <input id="password" name="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-s3 center">
            <button class="btn waves-effect waves-light" type="submit" name="action">Login
              <i class="material-icons left">lock</i>
            </button>
          </div>
        </div>
        <input type="hidden" name="__anti-forgery-token" value="{{anti-forgery-token}}">
      </form>
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <div class="white-text">Footer Content</div>
            <p class="grey-text text-lighten-4">This is sample text.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 Copyright Kaleidoscope.
          <a class="grey-text text-lighten-4 right" href="#!">GIT Repository</a>
        </div>
      </div>
    </footer>
    <script src="{{manager-path}}/js/app.js"></script>
  </body>
</html>
