
body
  position: relative
  background-color: #56884b

.main-menu, .navigation-menu
  &>ul
    display: flex
    a
      color: #fff
      font-weight: normal
      text-decoration: none

h1
  color: #fff

main
  padding: 1.0em
  h1
    color: #000

.container
  position: relative
  width: 95vw
  height: 1px
  margin: 0 auto
  pointer-events: none
  .inner
    box-shadow: 0 0 20px rgba(0,0,0,1.0)
    border: 4px solid #000
    width: 95vw
    height: 95vh
    position: fixed
    top: 2vh
    pointer-events: none
    .layout
      height: 100%
      pointer-events: none
      .content
        position: absolute
        top: 10%
        left: 0
        width: 100%
        height: 80%
        background-color: #fff
        opacity: 0.9
        overflow-y: scroll
        pointer-events: all

      .main-menu
        height: 10%
        background-color: #000
        text-align: center
        pointer-events: all
        position: relative
        z-index: 100

      .overlay
        //background-color: #56884b
        opacity: 1
        display: block
        height: 80%
        pointer-events: none
        box-shadow: 0 0 8px rgba(0,0,0,0.4) inset
        position: relative
        z-index: 100

      .navigation-menu
        height: 10%
        background-color: #000
        pointer-events: all
        position: relative
        z-index: 100

#screen
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%

#mask
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  //background: -webkit-gradient(radial, center, 0, 50% 50%, 120, color-stop(0.9, rgba(0,0,0,1.0)), color-stop(0.5, rgba(0,0,0,0.0)));
  //background: -webkit-radial-gradient(center, circle, rgba(0,0,0,0.0) 100%, rgba(0,0,0,1.0) 100%);
  //background: radial-gradient(center at center, rgba(0,0,0,0.0) 50%, rgba(0,0,0,1.0) 90%);


address
  font-family: monospace



//@media (min-resolution: 1dppx),(-webkit-min-device-pixel-ratio: 1)


//@media (min-resolution: 2dppx),(-webkit-min-device-pixel-ratio: 2)


//@media (min-resolution: 3dppx),(-webkit-min-device-pixel-ratio: 3)
