@import 'reset.styl'


// main, asideのパディング
content-padding = 1.0em

// セクション単位のパディング
section-padding = 1.0em

// サイトのコンテンツコンテナーの幅
container-width = 1024px

// サイトのサイド領域の幅(固定)
side-width = 320px

// サイド領域とメイン領域のマージン
main-side-margin = 20px

// サイトヘッダ領域のパディング
header-padding = 0.5em

main-navigation-padding = 0.5em
footer-navigation-padding = 0.5em


// 文書のフォント設定
a,p,span,div,li,dt,dd,q,dfn,abbr,acronym,figcaption,caption,th,td,b,em,strong,address,s,samp,small,time,label,option,input,legend,h1,h2,h3,h4,h5,h6
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','メイリオ', Meiryo, YuGothic,'Yu Gothic','ＭＳ Ｐゴシック','MS PGothic'

p
  line-height: 1.67em

a
  color: #f00
  &:hover
    color: #f00
    text-decoration: none

em
  color: #f00
  font-weight: bold

strong
  background: linear-gradient(transparent 30%, #ffff66 30%)
  &>strong
    color: #f00
    font-weight: bold

abbr
acronym
dfn
  font-weight: bold

s
  opacity: 0.5

// コンテナ
.container
  background-color: #CCC
  width: 100%
  &>.inner-full
    background-color: #AAAr
    margin: 0 auto
  &>.inner-fixed
    background-color: #AAA
    margin: 0 auto
    width: container-width


// コンテンツコンポーネント
// .contentはmainとasideの表示方法のみに責任を持つ
.content
  display: flex
  &>main
    margin-right: main-side-margin
    background-color: #FFF
    padding: content-padding
    flex-grow: 1
  &>aside
    width: side-width
    background-color: #F99
    padding: content-padding
    flex: 0 0 side-width


// 固定要素
.fixed
  position: fixed
  top: 0
  left: 0

// ヘッダ
header
  width: 100%
  background-color: #000
  color: #FFF
  padding: header-padding

.site-header
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 10px
  justify-content: center
  align-items: center

// メインナビゲーション
.main-navigation
  padding: main-navigation-padding
  background-color: #666
  ul
    display: flex
    width: 100%
    justify-content: center
    align-items: center
  li
    display: block
    font-size: 1.2em
    margin: 0 1.0em
    padding 0 1.0em
  a
    color: #FFF

.footer-navigation
  display: flex
  justify-content: center
  align-items: top
  padding: footer-navigation-padding
  &>section
    margin: 0 1.0em
    padding: 0 1.0em

footer
  background-color:#9FF
  &>address
    text-align: center
    font-weight: bold
    padding: 1.0em 0


// メイン領域はsection（独立した記事として成り立たないもの）とarticleに対して責任を持つ。
main
  &>section
    margin-bottom: 1.0em
    padding: padding
  &>article
    margin-bottom: 1.0em
    padding: padding

//
// セクションコンポーネント
section.main-block
  border: 1px solid #FF9
  &>h1
    font-weight: bold
    background-color: #9F9
  &>.inner
    padding: section-padding

  .aside //セクション内での補足事項
    background-color: #CCC


section.sub-block
  border: 1px solid #F9F

.eval
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 10px


.eval-total
  display: flex
  justify-content: center
  align-items: center
  &>h1
    border: 2px solid #333
    border-radius: 10px
    padding: 0.2em
    font-size: 0.95rem
    display: block

.eval-detail
  &>div
    display: flex
    justify-content: center
    align-items: center
    &>h2
      margin-right: 0.5em
      vertical-align: middle
    &>img
      vertical-align: middle
    &>div
      vertical-align: middle

// メインエリア

// ランキングコンポーネント

// 一覧

// 検索

// ソート

// 一般記事

// サイドエリア
// サムネイルなしの記事リンク

// サムネイルありの記事

// ランキング

/**
* .free-writeは自由入力可能な記事用クラス
*/
.free-write
  .bold
    font-weight: bold

  .red_bold
    color: #f00
    font-weight: bold

  .red_bold_bg
    color: #f00;
    font-weight: bold
    background: linear-gradient(transparent 30%, #ffff66 30%)

  .left
    text-align: left

  .right
    text-align: right

  .center
    text-align: center
