<h1>見出しh1</h1>
<h2>見出しh2</h2>
<h3>見出しh3</h3>
<h4>見出しh4</h4>
<h5>見出しh5</h5>
<h6>見出しh6</h6>

<p><mark>マーク</mark>した単語。</p>

<hr>

<progress value="70" max="100">70 %</progress>
<p>オーブンの温度: <meter min="200" max="500" value="350">350 degrees</meter></p>

<form oninput="result.value=parseInt(a.value)+parseInt(b.value)">
  <input type="range" name="b" value="50" /> +
  <input type="number" name="a" value="10" /> =
  <output name="result">60</output>
</form>
<form>
  <fieldset>
    <legend>フォーム入力項目</legend>
    <label for="test1">Label1</label>
    <input type="text" name="test1">
    <datalist id="test1">
      <option value="Chrome">
      <option value="Firefox">
      <option value="Internet Explorer">
      <option value="Edge">
      <option value="Opera">
    </datalist>
    <label for="test2">Label2</label>
    <input type="checkbox" name="test2"> チェック1
    <input type="checkbox" name="test2"> チェック2
    <input type="checkbox" name="test2"> チェック3
    <input type="checkbox" name="test2"> チェック4
    <label for="test3">Label3</label>
    <input type="radio" name="test3"> ラジオボタン1
    <input type="radio" name="test3"> ラジオボタン2
    <input type="radio" name="test3"> ラジオボタン3
    <input type="radio" name="test3"> ラジオボタン4
  </fieldset>

  <fieldset>
    <label for="test4">Label4</label>
    <select name="test4">
      <optgroup label="セレクト1">
        <option>セレクト1-1</option>
        <option>セレクト1-2</option>
      </optgroup>
      <optgroup label="セレクト2">
        <option>セレクト2-1</option>
        <option>セレクト2-2</option>
        <option>セレクト2-3</option>
      </optgroup>
    </select>
  </fieldset>

  <textarea>テキストエリアです
    これはテキストエリア
  </textarea>


  <fieldset>
    <input type="submit" value="送信">
    <button>ボタン</button>
  </fieldset>
</form>



<p><abbr text="Hypertext Markup Language">HTML</abbr>は略語です。</p>

<p><acronym text="Gnu is Not Unix">GNU</acronym>は、Gnu is Not Unixの頭文字です。</p>

<p><b>ここは文体が変わります</b></p>

<p>通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。通常のパラグラフ。<a href="">ここはハイパーリンク</a>です。<small>ここはsmallタグ</small>です。</p>
<p><del>削除済み</del>です。<ins>追加したテキスト</ins>です</p>

<p><em>赤いりんご</em>とみかんがあります。</p>
<p><strong>これは重要なことですが、<strong>地球は決して平面ではないのです</strong>。</strong>

<p><q>引用はここ</q>です</p>

<p><cite>引用した作品の参照</cite></p>

<blockquote>
  <p>引用文です。引用文です。引用文です。引用文です。引用文です。引用文です。引用文です。引用文です。引用文です。引用文です。引用文です。引用文です。引用文です。引用文です。引用文です。引用文です。引用文です。</p>
</blockquote>

<time>2017年12月10日</time>

<h3>リスト</h3>
<ul>
  <li>順不同リスト</li>
  <li>
    <ul>
      <li>子:順不同リスト</li>
      <li>子:順不同リスト</li>
      <li>子:順不同リスト</li>
      <li>子:順不同リスト</li>
    </ul>
  </li>
  <li>順不同リスト</li>
  <li>順不同リスト</li>
  <li>順不同リスト</li>
</ul>
<ol>
  <li>順序リスト</li>
  <li>順序リスト</li>
  <li>順序リスト</li>
  <li>順序リスト</li>
</ol>

<dl>
  <dt>定義用語</dt>
  <dd>定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。</dd>
  <dt>定義用語</dt>
  <dd>定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。</dd>
  <dd>定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。定義説明です。</dd>
</dl>


<h3>プログラムコード</h3>
<code>
  <pre>#include &lt;stdio.h&gt;
    int main(int argc, char* argv[]) {
    int <var>i</var> = 0;
    printf("hello, world\n");
    }</pre>
</code>

<h3>コンピューターへの入力</h3>
<kdb><pre>$ find ./ -type f | xargs grep "hoge"</pre></kdb>

<h3>コンピューターからの出力</h3>
<samp><pre>stylus_target:reset
    stylus_target:base
    stylus_target:main
    [22:17:32] Finished 'build:stylus' after 4.23 ms</pre></samp>


<h3>ルビ</h3>
<ruby>
  <rb>鈴蘭</rb><rp>(</rp><rt>すずらん</rt><rp>)</rp><rtc>5月の花。花言葉は、舞い戻る幸せ。</rtc>
</ruby>
は六月の花

<h3>テーブル</h3>
<table>
  <caption>Table Caption</caption>
  <thead>
    <tr>
      <th>
        列見出し1
      </th>
      <th>
        列見出し2
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        コンテンツ
      </td>
      <td>
        コンテンツ
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        テーブルフッター
      </td>
    </tr>
  </tfoot>
</table>
<blockquote>Blockquote</blockquote>
<q>q</q>
