<!doctype html>
<html>
  {% if ogp-flag %}
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  {% else %}
  <head>
    {% endif %}
    <meta charset="utf-8">
    {% for item in ogp %}
    {% if item|not-empty-last %}
    <meta property="og:{{item|first}}" content="{{item|last}}">
    {% endif %}
    {% endfor %}
    {% for item in fb %}
    {% if item|not-empty-last %}
    <meta property="fb:{{item|first}}" content="{{item|last}}">
    {% endif %}
    {% endfor %}
    {% for item in twitter %}
    {% if item|not-empty-last %}
    <meta property="twitter:{{item|first}}" content="{{item|last}}">
    {% endif %}
    {% endfor %}
    <title>{{title|embiginate}}</title>
    <!--base href="" target="_blank"-->
    <meta name="viewport" content="device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--link rel="stylesheet" href="/css/base.css"-->

  </head>
  <body>
    <canvas id="screen"></canvas>

    <!-- Overlay Control Menus -->
    <div class="container">
      <div class="inner">
        <div class="layout">

          <nav class="main-menu">
            <h1>Kaleidoscope</h1>
            <ul>
              <li><a href="/manager">Menu1</a></li>
              <li><a href="/menu2">Menu2</a></li>
              <li><a href="/menu3">Menu3</a></li>
              <li><a href="/menu4">Menu4</a></li>
            </ul>
          </nav>

          <div class="content">
            <main>
              <section>
                <h1>HTMLスタイル</h1>
                {{page|safe}}
                <p>Clojure is a dynamic, general-purpose programming language, combining the approachability and interactive development of a scripting language with an efficient and robust infrastructure for multithreaded programming. Clojure is a compiled language, yet remains completely dynamic – every feature supported by Clojure is supported at runtime. Clojure provides easy access to the Java frameworks, with optional type hints and type inference, to ensure that calls to Java can avoid reflection.</p>

                <p>Clojure is a dialect of Lisp, and shares with Lisp the code-as-data philosophy and a powerful macro system. Clojure is predominantly a functional programming language, and features a rich set of immutable, persistent data structures. When mutable state is needed, Clojure offers a software transactional memory system and reactive Agent system that ensure clean, correct, multithreaded designs.</p>

                <p>I hope you find Clojure's combination of facilities elegant, powerful, practical and fun to use.</p>

                <p>Rich Hickey</p>
                <p>author of Clojure and CTO Cognitect</p>
                <p>Clojure is a dynamic, general-purpose programming language, combining the approachability and interactive development of a scripting language with an efficient and robust infrastructure for multithreaded programming. Clojure is a compiled language, yet remains completely dynamic – every feature supported by Clojure is supported at runtime. Clojure provides easy access to the Java frameworks, with optional type hints and type inference, to ensure that calls to Java can avoid reflection.</p>

                <p>Clojure is a dialect of Lisp, and shares with Lisp the code-as-data philosophy and a powerful macro system. Clojure is predominantly a functional programming language, and features a rich set of immutable, persistent data structures. When mutable state is needed, Clojure offers a software transactional memory system and reactive Agent system that ensure clean, correct, multithreaded designs.</p>

                <p>I hope you find Clojure's combination of facilities elegant, powerful, practical and fun to use.</p>

                <p>Rich Hickey</p>
                <p>author of Clojure and CTO Cognitect</p>
                <p>Clojure is a dynamic, general-purpose programming language, combining the approachability and interactive development of a scripting language with an efficient and robust infrastructure for multithreaded programming. Clojure is a compiled language, yet remains completely dynamic – every feature supported by Clojure is supported at runtime. Clojure provides easy access to the Java frameworks, with optional type hints and type inference, to ensure that calls to Java can avoid reflection.</p>

                <p>Clojure is a dialect of Lisp, and shares with Lisp the code-as-data philosophy and a powerful macro system. Clojure is predominantly a functional programming language, and features a rich set of immutable, persistent data structures. When mutable state is needed, Clojure offers a software transactional memory system and reactive Agent system that ensure clean, correct, multithreaded designs.</p>

                <p>I hope you find Clojure's combination of facilities elegant, powerful, practical and fun to use.</p>

                <p>Rich Hickey</p>
                <p>author of Clojure and CTO Cognitect</p>
              </section>
            </main>
          </div>
          <div class="overlay">
            <div id="mask"></div>
          </div>
          <nav class="navigation-menu">
            <ul>
              <li><a href="/"><i class="material-icons md-48">home</i></a></li>
              <li><a href="/"><i class="material-icons md-48">search</i></a></li>
              <li><a href="/"><i class="material-icons md-48">keyboard_arrow_up</i></a></li>
              <li><a href="/"><i class="material-icons md-48">keyboard_arrow_down</i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>



    <aside>
      <section>
        <h1>SideArea</h1>
        <section>
          <h1>人気記事</h1>
          <ul>
            <li><a href="/">aaaaaaaaaaaa</a></li>
            <li><a href="/">aaaaaaaaaaaa</a></li>
            <li><a href="/">aaaaaaaaaaaa</a></li>
            <li><a href="/">aaaaaaaaaaaa</a></li>
          </ul>
        </section>
      </section>
    </aside>


    <script src="/js/app.js"></script>
    <script src="/js/kaleidoscope.js"></script>
  </body>
</html>
