<div class="section">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="article-title" name="article-title" class="validate">
          <label for="article-title">Title</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Category</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="article-tags" name="article-tags" class="validate">
          <label>Tags</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="article-contents" name="article-contents"  class="materialize-textarea"></textarea>
          <label for="article-contents">Contents</label>
        </div>
      </div>
    </form>
    <div class="col s12">

    </div>
  </div>
</div>
